INBOX VIEW DESIGN
<div className="w-[1440px] h-[1024px] relative bg-sky-950 overflow-hidden">
    <div className="w-[1340px] h-16 left-0 top-[35px] absolute">
        <div className="left-[1279px] top-[14px] absolute justify-start text-white text-base font-normal font-['Open_Sans']">Account</div>
        <div className="w-14 h-12 left-[1196px] top-[1px] absolute">
            <div className="w-9 h-7 left-[7.82px] top-[18.05px] absolute bg-slate-500 rounded-2xl" />
            <div className="w-7 h-6 left-[11.73px] top-[5.72px] absolute bg-slate-400 rounded-xl" />
            <div className="w-1.5 h-4 left-[47.35px] top-[25.10px] absolute bg-slate-400 rounded-[10px]" />
            <div className="w-1.5 h-4 left-0 top-[25.10px] absolute bg-slate-400 rounded-[10px]" />
            <div className="w-2 h-2 left-[15.21px] top-[10.13px] absolute bg-white rounded-full" />
            <div className="w-2 h-2 left-[30.41px] top-[10.13px] absolute bg-white rounded-full" />
            <div className="w-1 h-1 left-[17.38px] top-[12.33px] absolute bg-neutral-400 rounded-full" />
            <div className="w-1 h-1 left-[32.58px] top-[12.33px] absolute bg-neutral-400 rounded-full" />
            <div className="w-0.5 h-1.5 left-[26.07px] top-0 absolute bg-slate-400" />
        </div>
        <div className="w-44 h-0 left-0 top-[25px] absolute outline outline-1 outline-white"></div>
        <div className="w-12 h-12 left-[180px] top-0 absolute bg-pink-600" />
        <div className="left-[240px] top-[3px] absolute justify-start text-white text-3xl font-bold font-['Space_Mono']">Work</div>
    </div>
    <img className="w-7 h-7 left-[284px] top-[947px] absolute" src="https://placehold.co/30x30" />
    <div className="w-6 h-4 left-[1387px] top-[210px] absolute">
        <div className="w-6 h-0 left-0 top-0 absolute outline outline-1 outline-white"></div>
        <div className="w-4 h-0 left-[4px] top-[8px] absolute outline outline-1 outline-white"></div>
        <div className="w-3 h-0 left-[5.75px] top-[16px] absolute outline outline-1 outline-white"></div>
    </div>
    <img className="w-[752px] h-96 left-[658px] top-[562px] absolute" src="https://placehold.co/752x377" />
    <div className="w-[752px] h-40 left-[658px] top-[378px] absolute bg-white/20 rounded-[10px]" />
    <div className="w-96 left-[668px] top-[480px] absolute inline-flex flex-col justify-start items-start gap-[5px]">
        <div className="self-stretch justify-start text-white text-[10px] font-normal font-['Open_Sans']">Laptops are having a holiday sale.</div>
        <div className="self-stretch justify-start text-white text-[10px] font-normal font-['Open_Sans']">Laptops are having a holiday sale.</div>
        <div className="self-stretch justify-start text-white text-[10px] font-normal font-['Open_Sans']">Laptops are having a holiday sale.</div>
    </div>
    <div className="left-[668px] top-[461px] absolute justify-start text-white text-[10px] font-semibold font-['Open_Sans'] underline">Key Points:</div>
    <div className="left-[668px] top-[437px] absolute justify-start text-white text-[10px] font-normal font-['Open_Sans']">This email from Best Buy displays the items they are having sale during the holiday season.</div>
    <div className="left-[668px] top-[418px] absolute justify-start text-white text-[10px] font-semibold font-['Open_Sans'] underline">Summary:</div>
    <div className="left-[693px] top-[390px] absolute justify-start text-white text-xs font-semibold font-['Open_Sans']">SUMMARY</div>
    <img className="w-5 h-5 left-[668px] top-[388px] absolute" src="https://placehold.co/20x20" />
    <div className="left-[884px] top-[348px] absolute justify-start text-white text-[10px] font-semibold font-['Open_Sans']">Neutral</div>
    <div className="w-5 h-0 left-[874px] top-[366px] absolute origin-top-left -rotate-90 outline outline-1 outline-white/20"></div>
    <div className="w-3.5 h-3.5 left-[849px] top-[348px] absolute overflow-hidden">
        <div className="w-2 h-1 left-[3.75px] top-[5.63px] absolute outline outline-2 outline-offset-[-1px] outline-white/60" />
    </div>
    <div className="left-[793px] top-[348px] absolute justify-start text-white text-[10px] font-semibold font-['Open_Sans']">Translate</div>
    <img className="w-3.5 h-3.5 left-[773px] top-[348px] absolute" src="https://placehold.co/15x15" />
    <div className="w-5 h-0 left-[763px] top-[365px] absolute origin-top-left -rotate-90 outline outline-1 outline-white/20"></div>
    <div className="w-24 h-6 left-[658px] top-[343px] absolute bg-white/20 rounded-[5px]" />
    <div className="left-[688px] top-[348px] absolute justify-start text-white text-[10px] font-semibold font-['Open_Sans']">Summarize</div>
    <img className="w-3.5 h-3.5 left-[668px] top-[348px] absolute" src="https://placehold.co/15x15" />
    <div className="w-[752px] h-0 left-[658px] top-[333px] absolute outline outline-1 outline-white/10"></div>
    <div className="left-[701px] top-[307px] absolute justify-start text-white text-xs font-normal font-['Open_Sans']">&lt;person@gmail.com&gt;</div>
    <div className="left-[658px] top-[307px] absolute justify-start"><span class="text-white text-xs font-normal font-['Open_Sans']">to </span><span class="text-white text-xs font-semibold font-['Open_Sans']">me</span></div>
    <div className="left-[1329px] top-[281px] absolute justify-start text-white text-xs font-normal font-['Open_Sans']">Apr 3, 2:30 PM</div>
    <div className="left-[728px] top-[281px] absolute justify-start text-white text-xs font-normal font-['Open_Sans']">&lt;sales@bestbuy.com&gt;</div>
    <div className="left-[658px] top-[280px] absolute justify-start text-white text-sm font-semibold font-['Inter']">Best Buy</div>
    <div className="left-[1385px] top-[245px] absolute justify-start text-white text-lg font-semibold font-['Open_Sans']">. . .</div>
    <img className="w-5 h-5 left-[1355px] top-[250px] absolute" src="https://placehold.co/20x20" />
    <img className="w-5 h-5 left-[1325px] top-[250px] absolute" src="https://placehold.co/20x20" />
    <img className="w-5 h-5 left-[1295px] top-[250px] absolute" src="https://placehold.co/20x20" />
    <div className="w-5 h-0 left-[1285px] top-[270px] absolute origin-top-left -rotate-90 outline outline-1 outline-white/20"></div>
    <img className="w-5 h-5 left-[1255px] top-[250px] absolute" src="https://placehold.co/20x20" />
    <div className="w-5 h-0 left-[1245px] top-[270px] absolute origin-top-left -rotate-90 outline outline-1 outline-white/20"></div>
    <img className="w-5 h-5 left-[1215px] top-[250px] absolute" src="https://placehold.co/20x20" />
    <img className="w-5 h-5 left-[1185px] top-[250px] absolute" src="https://placehold.co/20x20" />
    <img className="w-5 h-5 left-[1155px] top-[250px] absolute" src="https://placehold.co/20x20" />
    <div className="left-[658px] top-[245px] absolute justify-start text-white text-lg font-semibold font-['Open_Sans']">Best Buy Holiday Sale</div>
    <div className="left-[334px] top-[245px] absolute inline-flex flex-col justify-start items-start gap-px">
        <div className="w-72 h-14 bg-white/10" />
        <div className="justify-start text-white text-xs font-normal font-['Open_Sans']">*</div>
        <div className="justify-start text-white text-xs font-semibold font-['Open_Sans']">3:30 PM</div>
        <div className="justify-start text-white text-xs font-normal font-['Open_Sans']">Lorem ipsum lorem ipsum</div>
        <div className="justify-start text-white text-xs font-semibold font-['Open_Sans']">Best Buy</div>
        <div className="w-10 h-10 bg-neutral-400 rounded-full" />
        <div className="w-72 h-14" />
        <div className="justify-start text-white text-xs font-normal font-['Open_Sans']">*</div>
        <div className="justify-start text-white text-xs font-semibold font-['Open_Sans']">3:30 PM</div>
        <div className="justify-start text-white text-xs font-normal font-['Open_Sans']">Lorem ipsum lorem ipsum</div>
        <div className="justify-start text-white text-xs font-semibold font-['Open_Sans']">Best Buy</div>
        <div className="w-10 h-10 bg-neutral-400 rounded-full" />
        <div className="w-72 h-14" />
        <div className="justify-start text-white text-xs font-normal font-['Open_Sans']">*</div>
        <div className="justify-start text-white text-xs font-semibold font-['Open_Sans']">3:30 PM</div>
        <div className="justify-start text-white text-xs font-normal font-['Open_Sans']">Lorem ipsum lorem ipsum</div>
        <div className="justify-start text-white text-xs font-semibold font-['Open_Sans']">Best Buy</div>
        <div className="w-10 h-10 bg-neutral-400 rounded-full" />
        <div className="w-72 h-14" />
        <div className="justify-start text-white text-xs font-normal font-['Open_Sans']">*</div>
        <div className="justify-start text-white text-xs font-semibold font-['Open_Sans']">3:30 PM</div>
        <div className="justify-start text-white text-xs font-normal font-['Open_Sans']">Lorem ipsum lorem ipsum</div>
        <div className="justify-start text-white text-xs font-semibold font-['Open_Sans']">Best Buy</div>
        <div className="w-10 h-10 bg-neutral-400 rounded-full" />
        <div className="w-72 h-14" />
        <div className="justify-start text-white text-xs font-normal font-['Open_Sans']">*</div>
        <div className="justify-start text-white text-xs font-semibold font-['Open_Sans']">3:30 PM</div>
        <div className="justify-start text-white text-xs font-normal font-['Open_Sans']">Lorem ipsum lorem ipsum</div>
        <div className="justify-start text-white text-xs font-semibold font-['Open_Sans']">Best Buy</div>
        <div className="w-10 h-10 bg-neutral-400 rounded-full" />
        <div className="w-72 h-14" />
        <div className="justify-start text-white text-xs font-normal font-['Open_Sans']">*</div>
        <div className="justify-start text-white text-xs font-semibold font-['Open_Sans']">3:30 PM</div>
        <div className="justify-start text-white text-xs font-normal font-['Open_Sans']">Lorem ipsum lorem ipsum</div>
        <div className="justify-start text-white text-xs font-semibold font-['Open_Sans']">Best Buy</div>
        <div className="w-10 h-10 bg-neutral-400 rounded-full" />
        <div className="w-72 h-14" />
        <div className="justify-start text-white text-xs font-normal font-['Open_Sans']">*</div>
        <div className="justify-start text-white text-xs font-semibold font-['Open_Sans']">3:30 PM</div>
        <div className="justify-start text-white text-xs font-normal font-['Open_Sans']">Lorem ipsum lorem ipsum</div>
        <div className="justify-start text-white text-xs font-semibold font-['Open_Sans']">Best Buy</div>
        <div className="w-10 h-10 bg-neutral-400 rounded-full" />
        <div className="w-72 h-14" />
        <div className="justify-start text-white text-xs font-normal font-['Open_Sans']">*</div>
        <div className="justify-start text-white text-xs font-semibold font-['Open_Sans']">3:30 PM</div>
        <div className="justify-start text-white text-xs font-normal font-['Open_Sans']">Lorem ipsum lorem ipsum</div>
        <div className="justify-start text-white text-xs font-semibold font-['Open_Sans']">Best Buy</div>
        <div className="w-10 h-10 bg-neutral-400 rounded-full" />
        <div className="w-72 h-14" />
        <div className="justify-start text-white text-xs font-normal font-['Open_Sans']">*</div>
        <div className="justify-start text-white text-xs font-semibold font-['Open_Sans']">3:30 PM</div>
        <div className="w-40 justify-start text-white text-xs font-normal font-['Open_Sans']">Lorem ipsum lorem ipsum</div>
        <div className="w-14 justify-start text-white text-xs font-semibold font-['Open_Sans']">Best Buy</div>
        <div className="w-10 h-10 bg-neutral-400 rounded-full" />
        <div className="w-72 h-14" />
        <div className="justify-start text-white text-xs font-normal font-['Open_Sans']">*</div>
        <div className="justify-start text-white text-xs font-semibold font-['Open_Sans']">3:30 PM</div>
        <div className="justify-start text-white text-xs font-normal font-['Open_Sans']">Lorem ipsum lorem ipsum</div>
        <div className="justify-start text-white text-xs font-semibold font-['Open_Sans']">Best Buy</div>
        <div className="w-10 h-10 bg-neutral-400 rounded-full" />
        <div className="w-72 h-14" />
        <div className="justify-start text-white text-xs font-normal font-['Open_Sans']">*</div>
        <div className="justify-start text-white text-xs font-semibold font-['Open_Sans']">3:30 PM</div>
        <div className="justify-start text-white text-xs font-normal font-['Open_Sans']">Lorem ipsum lorem ipsum</div>
        <div className="justify-start text-white text-xs font-semibold font-['Open_Sans']">Best Buy</div>
        <div className="w-10 h-10 bg-neutral-400 rounded-full" />
        <div className="w-72 h-14" />
        <div className="justify-start text-white text-xs font-normal font-['Open_Sans']">*</div>
        <div className="justify-start text-white text-xs font-semibold font-['Open_Sans']">3:30 PM</div>
        <div className="justify-start text-white text-xs font-normal font-['Open_Sans']">Lorem ipsum lorem ipsum</div>
        <div className="justify-start text-white text-xs font-semibold font-['Open_Sans']">Best Buy</div>
        <div className="w-10 h-10 bg-neutral-400 rounded-full" />
    </div>
    <div className="p-2.5 left-[50px] top-[245px] absolute rounded-tl-[20px] inline-flex flex-col justify-start items-start gap-2.5">
        <div className="flex flex-col justify-start items-start gap-2.5">
            <div className="justify-start text-white text-sm font-bold font-['Open_Sans']">All Accounts</div>
            <div className="justify-start text-white text-xs font-normal font-['Open_Sans']">3</div>
            <div className="justify-start text-white text-xs font-semibold font-['Open_Sans']">name@sadaora.com</div>
            <div className="justify-start text-white text-xs font-normal font-['Open_Sans']">5</div>
            <div className="w-2 h-2 bg-white rounded-full" />
            <div className="justify-start text-white text-xs font-semibold font-['Open_Sans']">name@gmail.com</div>
            <div className="justify-start text-white text-xs font-normal font-['Open_Sans']">6</div>
            <div className="w-2 h-2 bg-white rounded-full" />
            <div className="justify-start text-white text-xs font-semibold font-['Open_Sans']">name@yahoo.com</div>
            <div className="justify-start text-white text-xs font-normal font-['Open_Sans']">2</div>
            <div className="w-2 h-2 bg-white rounded-full" />
        </div>
        <div className="w-64 h-0 outline outline-1 outline-white"></div>
        <div className="w-64 h-5 relative">
            <div className="left-[248px] top-[2px] absolute justify-start text-white text-xs font-normal font-['Open_Sans']">15</div>
            <div className="left-[40px] top-[2px] absolute justify-start text-white text-xs font-semibold font-['Open_Sans']">Inbox</div>
            <div className="w-5 h-5 left-0 top-0 absolute">
                <img className="w-5 h-5 left-0 top-0 absolute" src="https://placehold.co/20x20" />
            </div>
        </div>
        <div className="w-64 h-5 relative">
            <div className="left-[40px] top-[2px] absolute justify-start text-white text-xs font-semibold font-['Open_Sans']">Starred</div>
            <div className="w-5 h-5 left-0 top-0 absolute">
                <img className="w-5 h-5 left-0 top-0 absolute" src="https://placehold.co/20x20" />
            </div>
        </div>
        <div className="w-64 h-5 relative">
            <div className="left-[40px] top-[2px] absolute justify-start text-white text-xs font-semibold font-['Open_Sans']">Sent</div>
            <div className="w-5 h-5 left-0 top-0 absolute">
                <img className="w-5 h-5 left-0 top-0 absolute" src="https://placehold.co/20x20" />
            </div>
        </div>
        <div className="w-64 h-5 relative">
            <div className="left-[40px] top-[2px] absolute justify-start text-white text-xs font-semibold font-['Open_Sans']">Drafts</div>
            <div className="w-5 h-5 left-0 top-0 absolute">
                <img className="w-5 h-5 left-0 top-0 absolute" src="https://placehold.co/20x20" />
            </div>
        </div>
        <div className="w-64 h-5 relative">
            <div className="left-[40px] top-[2px] absolute justify-start text-white text-xs font-semibold font-['Open_Sans']">Archive</div>
            <div className="w-5 h-5 left-0 top-0 absolute">
                <img className="w-5 h-5 left-0 top-0 absolute" src="https://placehold.co/20x20" />
            </div>
        </div>
        <div className="w-64 h-5 relative">
            <div className="left-[40px] top-[2px] absolute justify-start text-white text-xs font-semibold font-['Open_Sans']">Important</div>
            <div className="w-5 h-5 left-0 top-0 absolute">
                <img className="w-5 h-5 left-0 top-0 absolute" src="https://placehold.co/20x20" />
            </div>
        </div>
        <div className="w-64 h-5 relative">
            <div className="left-[40px] top-[2px] absolute justify-start text-white text-xs font-semibold font-['Open_Sans']">Spam</div>
            <div className="w-5 h-5 left-0 top-0 absolute">
                <img className="w-5 h-5 left-0 top-0 absolute" src="https://placehold.co/20x20" />
            </div>
        </div>
        <div className="w-64 h-5 relative">
            <div className="left-[40px] top-[2px] absolute justify-start text-white text-xs font-semibold font-['Open_Sans']">Trash</div>
            <div className="w-5 h-5 left-0 top-0 absolute">
                <img className="w-5 h-5 left-0 top-0 absolute" src="https://placehold.co/20x20" />
            </div>
        </div>
    </div>
    <div className="w-[1317px] h-10 left-[50px] top-[195px] absolute bg-white/5 rounded-[10px]" />

    <div className="left-[85px] top-[154px] absolute justify-start text-white text-sm font-semibold font-['Inter']">Email</div>
    <img className="w-6 h-6 left-[75px] top-[175px] absolute origin-top-left rotate-180" src="https://placehold.co/25x25" />
    <div className="w-5 h-5 left-[1394px] top-[153px] absolute">
        <div className="w-5 h-5 left-0 top-0 absolute overflow-hidden">
            <div className="w-2.5 h-2.5 left-[5px] top-[5px] absolute outline outline-2 outline-white/80" />
        </div>
    </div>
</div>





 < div className="px-3 py-2 bg-sky-100 flex items-end gap-1" >
            {/* Bulk actions bar - shown when messages are selected */}
            {selectedMessage && (
              <>
                <button
                onClick={() => handleArchiveMessage(selectedMessage)}
                className={`p-1.5 rounded transition-colors ${actionLoading
                  ? 'text-slate-100 cursor-not-allowed'
                  : 'text-slate-200 hover:text-slate-200 hover:bg-white/50'
                  }`}
                title="Archive"
              >
                <ArchiveBoxIcon className={`w-4 h-4 ${actionLoading ? 'animate-spin' : ''}`} />
              </button>
              <button
                onClick={() => handleTrashMessage(selectedMessage)}
                className={`p-1.5 rounded transition-colors ${actionLoading
                  ? 'text-slate-100 cursor-not-allowed'
                  : 'text-slate-200 hover:text-red-600 hover:bg-white/50'
                  }`}
                title="Delete"
              >
                <TrashIcon className={`w-4 h-4 ${actionLoading ? 'animate-spin' : ''}`} />
              </button>
              <button
                onClick={() => handleStarMessage(selectedMessage)}
                className={`p-1.5 rounded transition-colors ${actionLoading
                  ? 'text-slate-100 cursor-not-allowed'
                  : 'text-slate-200 hover:text-amber-500 hover:bg-white/50'
                  }`}
                title={selectedMessage.isStarred || selectedMessage.is_starred ? "Unstar" : "Star"}
              >
                {selectedMessage.isStarred || selectedMessage.is_starred ? (
                  <StarSolidIcon className={`w-4 h-4 ${actionLoading ? 'animate-spin' : 'text-amber-400'}`} />
                ) : (
                  <StarIcon className={`w-4 h-4 ${actionLoading ? 'animate-spin' : ''}`} />
                )}
                </button>
              </>
            )}
          </div> 